<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboard</title>
    <script src="/js/leaderboardScript.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"></head>

</head>

<body id="boardBody">
    <div id="board-container">
        <h1 class="heading4">ScoreBoard</h1>
        <div id="playerDiv">
            <h1 id="label">Username</h1>
            <ul class="heading3" id="playerList"></ul>
        </div>
        <div id="scoreDiv">
            <h1 id="label">Score</h1>
            <ul class="heading3" id="scoreList"></ul>
        </div>
    


        <form method="GET" action="/">
            <input id="play" type="submit" value="Home">
        </form>
    </div>

</body>

</html>